# Project exclude paths
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/DHBW_Buecherladen.cbp
/cmake-build-debug/DHBW_Buecherladen.exe
/cmake-build-debug/Makefile
/cmake-build-debug/Hannes2.txt
